.ui.message 
	button.ui.button(href="#") Читать
	| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur id eaque dolorum quas nemo, asperiores aperiam quibusdam quo, molestias consequatur.
.ui.three.column.stackable.grid.container.segment
	.column
		h2 Игр за день
		p 27
	.column
		h2 Макс. выигрыш
		p $ 196,55
	.column
		h2 Онлайн игроков
		p 83
.ui.doubling.six.cards.row
	.card.yellow
		.card__header Room 2
		.card__price $0.1 - $1
	.card.red
		.card__header Room 2
		.card__price $0.1 - $1
	.card.green
		.card__header Room 2
		.card__price $0.1 - $1
	.card.blue
		.card__header Room 2
		.card__price $0.1 - $1
	.card.olive
		.card__header Room 2
		.card__price $0.1 - $1
	.card.orange
		.card__header Room 2
		.card__price $0.1 - $1

.ui.container.segment
	h2 Афиша Игр
	table.ui.celled.table
		thead
			tr
				th Человек
				th Ставка
				th До старта
				th Действия
		tbody
			tr
				td 5
				td $4.32
				td 00:01:36
				td 
					button.ui.button.primary Вступить в игру
			tr
				td Cell
				td Cell
				td Cell
				td Cell
			tr
				td Cell
				td Cell
				td Cell
				td Cell

.ui.segment
	h3 Комментарии:
	.ui.list
		.item
			img.ui.avatar.image(src='http://placebeard.it/20/20')
			|			
			.content
				a.header Rachel
				|				
				.description
					| Last seen watching 
					a
						b Arrested Development
					|	just now.
		.item
			img.ui.avatar.image(src='http://placebeard.it/20/20')
			|			
			.content
				a.header Rachel
				|				
				.description
					| Last seen watching 
					a
						b Arrested Development
					|	just now.
		.item
			img.ui.avatar.image(src='http://placebeard.it/20/20')
			|			
			.content
				a.header Rachel
				|				
				.description
					| Last seen watching 
					a
						b Arrested Development
					|	just now.
		.item
			img.ui.avatar.image(src='http://placebeard.it/20/20')
			|			
			.content
				a.header Rachel
				|				
				.description
					| Last seen watching 
					a
						b Arrested Development
					|	just now.
		.item
			img.ui.avatar.image(src='http://placebeard.it/20/20')
			|			
			.content
				a.header Rachel
				|				
				.description
					| Last seen watching 
					a
						b Arrested Development
					|	just now.
		.item
			img.ui.avatar.image(src='http://placebeard.it/20/20')
			|			
			.content
				a.header Rachel
				|				
				.description
					| Last seen watching 
					a
						b Arrested Development
					|	just now.
		.item
			img.ui.avatar.image(src='http://placebeard.it/20/20')
			|			
			.content
				a.header Rachel
				|				
				.description
					| Last seen watching 
					a
						b Arrested Development
					|	just now.
		.item
			img.ui.avatar.image(src='http://placebeard.it/20/20')
			|			
			.content
				a.header Rachel
				|				
				.description
					| Last seen watching 
					a
						b Arrested Development
					|	just now.
