.ui.top.menu.fixed.main
  .ui.container
    a(href="/").logo-site

    .right.menu
      a.item РЕГИСТРАЦИЯ
      a.item ВХОД
      a.item ВЫХОД
      a.item
        .ui.avatar.image
          img(src='http://placebeard.it/44/44')
        .middle.aligned.content
          .header Valentin
      a.item(id='comments',data-transition="overlay")
        i.ui.icon.comment
        .ui.red.label.right 2
      .item
        .ui.inline.dropdown
          .text
            img.ui.image(src="/img/ru.png" width="16" height="11")
            |       ru
          i.dropdown.icon
          .menu
            .item
              img.ui.image(src="/img/ru.png" width="16" height="11")
              |         ru
            .item
              img.ui.image(src="/img/england.png" width="16" height="11")
              |         en
            .item
              img.ui.image(src="/img/fr.png" width="16" height="11")
              |         fr
            .item
              img.ui.image(src="/img/pl.png" width="16" height="11")
              |         pl
