.ui.bottom.fixed.menu
	a(href="/").item ГЛАВНАЯ
	a(href="/o-nas.html").item О НАС
	a(href=".html").item ПУТЕВОДИТЕЛЬ
	a(href=".html").item ИСТОРИЯ
	a(href=".html").item НОВОСТИ
	a(href=".html").item КОНТАКТЫ
