.ui.bottom.fixed.menu
	.ui.container
		a(href="/index.html").item ГЛАВНАЯ
		a(href="/o-nas.html").item О НАС
		a(href="/putevoditel.html").item ПУТЕВОДИТЕЛЬ
		a(href="/istoriya.html").item ИСТОРИЯ
		a(href="/novosti.html").item НОВОСТИ
		a(href="/kontakti.html").item КОНТАКТЫ
