.ui.segment
	h3 Комментарии:
	.ui.list
		.item
			img.ui.avatar.image(src='http://placebeard.it/20/20')
			|			
			.content
				a.header Rachel
				|				
				.description
					| Last seen watching 
					a
						b Arrested Development
					|	just now.
		.item
			img.ui.avatar.image(src='http://placebeard.it/20/20')
			|			
			.content
				a.header Rachel
				|				
				.description
					| Last seen watching 
					a
						b Arrested Development
					|	just now.
		.item
			img.ui.avatar.image(src='http://placebeard.it/20/20')
			|			
			.content
				a.header Rachel
				|				
				.description
					| Last seen watching 
					a
						b Arrested Development
					|	just now.
		.item
			img.ui.avatar.image(src='http://placebeard.it/20/20')
			|			
			.content
				a.header Rachel
				|				
				.description
					| Last seen watching 
					a
						b Arrested Development
					|	just now.
		.item
			img.ui.avatar.image(src='http://placebeard.it/20/20')
			|			
			.content
				a.header Rachel
				|				
				.description
					| Last seen watching 
					a
						b Arrested Development
					|	just now.
		.item
			img.ui.avatar.image(src='http://placebeard.it/20/20')
			|			
			.content
				a.header Rachel
				|				
				.description
					| Last seen watching 
					a
						b Arrested Development
					|	just now.
		.item
			img.ui.avatar.image(src='http://placebeard.it/20/20')
			|			
			.content
				a.header Rachel
				|				
				.description
					| Last seen watching 
					a
						b Arrested Development
					|	just now.
		.item
			img.ui.avatar.image(src='http://placebeard.it/20/20')
			|			
			.content
				a.header Rachel
				|				
				.description
					| Last seen watching 
					a
						b Arrested Development
					|	just now.
		.ui.divider
		a(href="#").ui.basic.button.tiny
			i.icon.plus
			| добавить
		a(href="#").ui.tiny.right.floated
			| Все&nbsp;комментарии
.ui.segment
	h3 Победители:
	.ui.middle.aligned.list
		.item
			img.ui.avatar.image(src='http://placebeard.it/40/40')
			|			
			.content
				.header $27.20
		.item
			img.ui.avatar.image(src='http://placebeard.it/40/40')
			|			
			.content
				.header $27.20
		.item
			img.ui.avatar.image(src='http://placebeard.it/40/40')
			|			
			.content
				.header $27.20
		.item
			img.ui.avatar.image(src='http://placebeard.it/40/40')
			|			
			.content
				.header $27.20
		.item
			img.ui.avatar.image(src='http://placebeard.it/40/40')
			|			
			.content
				.header $27.20
		.item
			img.ui.avatar.image(src='http://placebeard.it/40/40')
			|			
			.content
				.header $27.20
		.item
			img.ui.avatar.image(src='http://placebeard.it/40/40')
			|			
			.content
				.header $27.20
		.item
			img.ui.avatar.image(src='http://placebeard.it/40/40')
			|			
			.content
				.header $27.20
		a(href="#").ui.tiny.button
			| Все&nbsp;победители