doctype html
html(lang="ru")
  head
    // build:css css/vendor.css
    // bower:css
    // endbower
    // endbuild
    
    // build:css css/plugins.css
    link(rel="stylesheet", type="text/css", href='../bower_components/semantic-ui/dist/semantic.min.css')
    // endbuild
    // bower:css
    // endbower
    // build:css css/style.css
    link(rel="stylesheet", type="text/css", href='css/style.css')
    // endbuild
    title Semantic UI Front-End Page
  body
    .ui.content
      .ui.container
        include ./components/menu-top.jade
        .ui.text.container
          h2.ui.header Контакты
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit porro exercitationem, labore odit, similique maiores sapiente mollitia quisquam dolorem, ipsam beatae nostrum. Aperiam rerum repellat atque facilis pariatur! Tempora ab suscipit unde, exercitationem recusandae non mollitia fuga sapiente, ipsam fugit autem quae commodi explicabo, ea at! 
          form.ui.form(action='#', type='post')
            .two.fields
              .field
                input(type='text', name='shipping[first-name]', placeholder='Имя')
              .field
                input(type='text', name='shipping[last-name]', placeholder='Фамилия')
            .two.fields
              .field
                .ui.left.labeled.input
                  label.ui.label @
                  input(type='email', placeholder='Email')
              .field
                .ui.left.labeled.input
                  label.ui.label 
                    icon.icon.phone
                  input(type='phone', placeholder='Телефон')
            .field
              label Сообщение
              textarea
            .field
                label.ui.label.yellow
                  icon.icon.arrow.down Введите текст, который видите на картинке
            .three.fields
              .field
                img(src='http://placehold.it/150x40' height='36')
              .field
                input(type='text', name='shipping[captcha]', placeholder='')
              .field
                button.ui.button.blue.fluid(class='submit') Отправить


        include ./components/menu-bottom.jade

    
  // build:js js/vendor.js
  // bower:js
  // endbower
  //endbuild
  // build:js js/plugins.js
  // endbuild
  // build:js js/main.js
  script(type='text/javascript', src='js/main.js')
  // endbuild