doctype html
html(lang="ru")
  head
    // build:css css/vendor.css
    // bower:css
    // endbower
    // endbuild
    
    // build:css css/plugins.css
    link(rel="stylesheet", type="text/css", href='../bower_components/semantic-ui/dist/semantic.min.css')
    // endbuild
    // bower:css
    // endbower
    // build:css css/style.css
    link(rel="stylesheet", type="text/css", href='css/style.css')
    // endbuild
    title Semantic UI Front-End Page
  body
    include ./components/menu-top.jade
    .ui.text.container
      h2.ui.header Новости
      .ui.two.cards
        .ui.card
          img(src='http://placehold.it/400x200/218').image
          .content
            h3.ui.header Новость один
            .description  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae nesciunt enim illum excepturi soluta. Accusamus magni velit est quibusdam explicabo voluptates dolorem
          .extra.content
            .right.floated
              a(href="/novost.html") подробнее
        .ui.card
          img(src='http://placehold.it/400x200/218').image
          .content
            h3.ui.header Новость один
            .description  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae nesciunt enim illum excepturi soluta. Accusamus magni velit est quibusdam explicabo voluptates dolorem
          .extra.content
            .right.floated
              a(href="/novost.html") подробнее
        .ui.card
          img(src='http://placehold.it/400x200/218').image
          .content
            h3.ui.header Новость один
            .description  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae nesciunt enim illum excepturi soluta. Accusamus magni velit est quibusdam explicabo voluptates dolorem
          .extra.content
            .right.floated
              a(href="/novost.html") подробнее
        .ui.card
          img(src='http://placehold.it/400x200/218').image
          .content
            h3.ui.header Новость один
            .description  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae nesciunt enim illum excepturi soluta. Accusamus magni velit est quibusdam explicabo voluptates dolorem
          .extra.content
            .right.floated
              a(href="/novost.html") подробнее
        .ui.card
          img(src='http://placehold.it/400x200/218').image
          .content
            h3.ui.header Новость один
            .description  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae nesciunt enim illum excepturi soluta. Accusamus magni velit est quibusdam explicabo voluptates dolorem
          .extra.content
            .right.floated
              a(href="/novost.html") подробнее
        .ui.card
          img(src='http://placehold.it/400x200/218').image
          .content
            h3.ui.header Новость один
            .description  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae nesciunt enim illum excepturi soluta. Accusamus magni velit est quibusdam explicabo voluptates dolorem
          .extra.content
            .right.floated
              a(href="/novost.html") подробнее
      .ui.divider
      .ui.pagination.menu
        a.active.item
          | 1
        .disabled.item
          | ...
        a.item
          | 10
        a.item
          | 11
        a.item
          | 12

    include ./components/menu-bottom.jade

    
  // build:js js/vendor.js
  // bower:js
  // endbower
  //endbuild
  // build:js js/plugins.js
  // endbuild
  // build:js js/main.js
  script(type='text/javascript', src='js/main.js')
  // endbuild