.logo-site {
	display: block;
    height: 44px;
    width: 179px;
    padding: 0;
    background-image: url("/images/logo_site_dark.png");
    background-repeat: no-repeat;
    background-size: cover;
    border-left: none !important;
    margin: 5px;
}
.ui.fixed.menu+.ui.grid {
    padding-top: 60px;
}

#sidebar {
    padding-top: 70px;
    background: #fff;
}

// CONTENT
.ui.content.main {
    margin-top: 80px;
}